# git ignore file

# ignore files
*.tmp
*.bak
*.swp
*~.nib
*.pdf
*.xls
*.xlsx
*.txt
*.mat
*.ddd
*.gif
*.properties
*.doc
*.docx
*.exe

# Eclipse core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# ignore directory
tmp/
/bin/
/nbproject/private
/build/
/results/
/dist/
/tmp/
/doc/
/exe/results/